<div class="w-full mx-auto mt-6 grid grid-cols-4 gap-3">
  <% if @tasks.empty? %>
  <div class="bg-gray-50 border-dashed border-4 text-gray-500 flex flex-col gap-3 md:w-full rounded p-6 justify-center items-center">
    <h2 class="text-2xl font-bold text-center mb-2"><%= link_to "+ Add a category", new_category_path %></h2>
    <div>Organize your tasks with categories</div>
  </div>
  <% end %>
  

  <div class="bg-white flex flex-col gap-3 w-full shadow rounded p-6">
    <h2 class="text-xl font-bold text-center mb-2">Category name</h2>

    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>

    <div class="bg-gray-50 p-4 rounded font-semibold text-center mt-auto">Add new task</div>
  </div>

  <div class="bg-white flex flex-col gap-3 w-full shadow rounded p-6">
    <h2 class="text-xl font-bold text-center mb-2">Category name</h2>

    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>

    <div class="bg-gray-50 p-4 rounded font-semibold text-center mt-auto">Add new task</div>
  </div>

  <div class="bg-white flex flex-col gap-3 w-full shadow rounded p-6">
    <h2 class="text-xl font-bold text-center mb-2">Category name</h2>

    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>

    <div class="bg-gray-50 p-4 rounded font-semibold text-center mt-auto">Add new task</div>
  </div>

  <div class="bg-white flex flex-col gap-3 w-full shadow rounded p-6">
    <h2 class="text-xl font-bold text-center mb-2">Category name</h2>

    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>
    <div class="bg-indigo-50 p-4 rounded shadow">This is task one</div>

    <div class="bg-gray-50 p-4 rounded font-semibold text-center mt-auto">Add new task</div>
  </div>
  



</div>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due</th>
      <th>Completed</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due %></td>
        <td><%= task.completed %></td>
        <td><%= task.category_id %></td>
        <td><%= task.user_id %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
