<div class="bg-white md:w-3/4 lg:w-2/5 mx-auto my-6 shadow rounded p-6">

<h1 class="text-4xl mb-2 font-bold"><%= @task.title %></h1>
<div class="text-gray-500 italic mb-3">Filed under: <%= @task.category.name %> | Due date: <%= @task.due.strftime("%b %d, %Y %H:%m %P") %></div>

<% if @task.completed? %>
  <div class="inline-block px-2 py-1 rounded text-green-500 font-semibold border-2 border-green-500">Complete</div>
<% else %>
  <div class="inline-block px-2 py-1 rounded text-pink-500 font-semibold border-2 border-pink-500">in Progress</div>
<%end %>


<div class="mt-6 text-gray-500">Description:</div>
<div class="mt-2 mb-6 text-gray-700"><%= @task.description %></div>



  <hr>
  <div class="mt-6 w-full flex gap-6 justify-center">
    <%= link_to 'Edit', edit_category_task_path(@category, @task), class: "text-indigo-500 hover:text-indigo-600 font-semibold" %>
    <%= link_to 'Delete', category_task_path(@category, @task), method: :delete, data: { confirm: "Are you sure you want to delete this task?"}, class: "text-indigo-500 font-semibold hover:text-indigo-600" %>
    <%= link_to 'Back', tasks_path, class: "text-indigo-500 font-semibold hover:text-indigo-600" %>
  </div>
</div>
