<div class="md:bg-white md:shadow rounded p-8 w-1/4 mx-auto md:mt-6">
<h2 class="text-3xl text-center mb-3 font-bold">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field mt-3">
    <%= f.label :password, "New password", class: "font-semibold text-gray-500" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "text-xl border border-gray-500 w-full rounded py-1 px-2" %>
  </div>

  <div class="field mt-3">
    <%= f.label :password_confirmation, "Confirm new password", class: "font-semibold text-gray-500" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-xl border border-gray-500 w-full rounded py-1 px-2" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

  <div class="text-indigo-500 font-semibold mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
