<div class="bg-indigo-800 px-6 py-3 shadow flex gap-6 text-indigo-200">
  <h1 class="text-white text-3xl font-bold logo"><%= link_to "Journa.ly", tasks_path %> </h1>
  
  <div class="flex justify-center items-center text-lg gap-4 mr-auto">
    <% if user_signed_in? %>
      <%= link_to "Tasks", tasks_path, class: "hover:text-indigo-50" %>
    <% end %>
  </div>

  <div class="flex justify-center items-center text-lg gap-4">
    <% if user_signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>
